<div id="<%= dom_id consultum %>">
  <p>
    <strong>Data:</strong>
    <%= consultum.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= consultum.horario %>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consultum.Medico_id %>
  </p>

  <p>
    <strong>Paciente:</strong>
    <%= consultum.Paciente.nomeCompleto%>
  </p>

  <p>
    <strong>Medico:</strong>
    <%= consultum.Medico_id %>
    <%= consultum.Medico.nomeCompleto %>
  </p>

</div>
