<p style="color: green"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @consultum.data %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @consultum.horario %>
</p>

<p>
  <strong>Paciente:</strong>
  <%= @consultum.Paciente.nomeCompleto %>
</p>

<p>
  <strong>Medico:</strong>
  <%= @consultum.Medico.nomeCompleto %>
</p>
<div>
  <%= link_to "Edit this consultum", edit_consultum_path(@consultum) %> |
  <%= link_to "Back to consulta", consulta_path %>
  <%= link_to "Pagina inicial", root_path %>

  <%= button_to "Destroy this consultum", @consultum, method: :delete %>
</div>
